CentralControl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.loxon.eu/CentralControl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.loxon.eu/CentralControl/" name="CentralControlServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.loxon.eu/CentralControl/" schemaLocation="http://javachallenge.loxon.hu:8443/engine/CentralControl?xsd=1"/>
</xsd:schema>
</types>
<message name="radar">
<part name="parameters" element="tns:radarRequest"/>
</message>
<message name="radarResponse">
<part name="parameters" element="tns:radarResponse"/>
</message>
<message name="getActionCost">
<part name="parameters" element="tns:actionCostRequest"/>
</message>
<message name="getActionCostResponse">
<part name="parameters" element="tns:actionCostResponse"/>
</message>
<message name="explodeCell">
<part name="parameters" element="tns:explodeCellRequest"/>
</message>
<message name="explodeCellResponse">
<part name="parameters" element="tns:explodeCellResponse"/>
</message>
<message name="getSpaceShuttlePos">
<part name="parameters" element="tns:getSpaceShuttlePosRequest"/>
</message>
<message name="getSpaceShuttlePosResponse">
<part name="parameters" element="tns:getSpaceShuttlePosResponse"/>
</message>
<message name="getSpaceShuttleExitPos">
<part name="parameters" element="tns:getSpaceShuttleExitPosRequest"/>
</message>
<message name="getSpaceShuttleExitPosResponse">
<part name="parameters" element="tns:getSpaceShuttleExitPosResponse"/>
</message>
<message name="structureTunnel">
<part name="parameters" element="tns:structureTunnelRequest"/>
</message>
<message name="structureTunnelResponse">
<part name="parameters" element="tns:structureTunnelResponse"/>
</message>
<message name="watch">
<part name="parameters" element="tns:watchRequest"/>
</message>
<message name="watchResponse">
<part name="parameters" element="tns:watchResponse"/>
</message>
<message name="isMyTurn">
<part name="parameters" element="tns:isMyTurnRequest"/>
</message>
<message name="isMyTurnResponse">
<part name="parameters" element="tns:isMyTurnResponse"/>
</message>
<message name="moveBuilderUnit">
<part name="parameters" element="tns:moveBuilderUnitRequest"/>
</message>
<message name="moveBuilderUnitResponse">
<part name="parameters" element="tns:moveBuilderUnitResponse"/>
</message>
<message name="startGame">
<part name="parameters" element="tns:startGameRequest"/>
</message>
<message name="startGameResponse">
<part name="parameters" element="tns:startGameResponse"/>
</message>
<portType name="CentralControl">
<operation name="radar">
<input wsam:Action="http://www.loxon.eu/CentralControl/radar" message="tns:radar"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/radarResponse" message="tns:radarResponse"/>
</operation>
<operation name="getActionCost">
<input wsam:Action="http://www.loxon.eu/CentralControl/explodeCell" message="tns:getActionCost"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/getActionCostResponse" message="tns:getActionCostResponse"/>
</operation>
<operation name="explodeCell">
<input wsam:Action="http://www.loxon.eu/CentralControl/explodeCell" message="tns:explodeCell"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/explodeCellResponse" message="tns:explodeCellResponse"/>
</operation>
<operation name="getSpaceShuttlePos">
<input wsam:Action="http://www.loxon.eu/CentralControl/getSpaceShuttlePos" message="tns:getSpaceShuttlePos"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/getSpaceShuttlePosResponse" message="tns:getSpaceShuttlePosResponse"/>
</operation>
<operation name="getSpaceShuttleExitPos">
<input wsam:Action="http://www.loxon.eu/CentralControl/getSpaceShuttleExitPos" message="tns:getSpaceShuttleExitPos"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/getSpaceShuttleExitPosResponse" message="tns:getSpaceShuttleExitPosResponse"/>
</operation>
<operation name="structureTunnel">
<input wsam:Action="http://www.loxon.eu/CentralControl/structureTunnel" message="tns:structureTunnel"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/structureTunnelResponse" message="tns:structureTunnelResponse"/>
</operation>
<operation name="watch">
<input wsam:Action="http://www.loxon.eu/CentralControl/watch" message="tns:watch"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/watchResponse" message="tns:watchResponse"/>
</operation>
<operation name="isMyTurn">
<input wsam:Action="http://www.loxon.eu/CentralControl/isMyTurn" message="tns:isMyTurn"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/isMyTurnResponse" message="tns:isMyTurnResponse"/>
</operation>
<operation name="moveBuilderUnit">
<input wsam:Action="http://www.loxon.eu/CentralControl/moveBuilderUnit" message="tns:moveBuilderUnit"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/moveBuilderUnitResponse" message="tns:moveBuilderUnitResponse"/>
</operation>
<operation name="startGame">
<input wsam:Action="http://www.loxon.eu/CentralControl/startGame" message="tns:startGame"/>
<output wsam:Action="http://www.loxon.eu/CentralControl/CentralControl/startGameResponse" message="tns:startGameResponse"/>
</operation>
</portType>
<binding name="CentralControlPortBinding" type="tns:CentralControl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="radar">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/radar"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActionCost">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/explodeCell"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="explodeCell">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/explodeCell"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSpaceShuttlePos">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/getSpaceShuttlePos"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSpaceShuttleExitPos">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/getSpaceShuttleExitPos"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="structureTunnel">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/structureTunnel"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="watch">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/watch"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isMyTurn">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/isMyTurn"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moveBuilderUnit">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/moveBuilderUnit"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startGame">
<soap:operation soapAction="http://www.loxon.eu/CentralControl/startGame"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CentralControlServiceService">
<port name="CentralControlPort" binding="tns:CentralControlPortBinding">
<soap:address location="http://javachallenge.loxon.hu:8443/engine/CentralControl"/>
</port>
</service>
</definitions>